{
  "openapi": "3.1.0",
  "info": {
    "title": "dubstack Admin API",
    "version": "2026-09-04",
    "description": "Server-side API for triggering documentation deployments and workflows, creating branch previews, and exporting organization analytics. Every operation requires a scoped Admin API key."
  },
  "servers": [
    {
      "url": "https://api.dubstack.ai",
      "description": "dubstack Admin API"
    }
  ],
  "tags": [
    {
      "name": "Admin API",
      "description": "Server-side automation endpoints that require scoped Admin API keys."
    }
  ],
  "paths": {
    "/api/project/update/{siteId}": {
      "post": {
        "tags": [
          "Admin API"
        ],
        "summary": "Trigger deployment update",
        "description": "Queue a live deployment update from the configured deployment branch. Requires the deployments:trigger Admin API key scope.",
        "operationId": "triggerDeploymentUpdate",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The deployment site ID. Site-scoped keys can only use their assigned site."
          }
        ],
        "responses": {
          "202": {
            "description": "Deployment update queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentTriggerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to perform this action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested site or deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "409": {
            "description": "The site is not ready for deployment updates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/project/preview/{siteId}": {
      "post": {
        "tags": [
          "Admin API"
        ],
        "summary": "Trigger preview deployment",
        "description": "Create or refresh a preview deployment for a Git branch. Requires the deployments:trigger Admin API key scope.",
        "operationId": "triggerPreviewDeployment",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The deployment site ID. Site-scoped keys can only use their assigned site."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewDeploymentTriggerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Preview deployment queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewDeploymentTriggerResponse"
                }
              }
            }
          },
          "400": {
            "description": "The branch value is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to perform this action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested site or deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "409": {
            "description": "The site or branch is not ready for preview deployments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/project/update-status/{statusId}": {
      "get": {
        "tags": [
          "Admin API"
        ],
        "summary": "Get deployment status",
        "description": "Read deployment status and logs by status ID. Requires either deployments:read or deployments:trigger.",
        "operationId": "getDeploymentStatus",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The deployment status ID returned by a deployment trigger endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentStatus"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to perform this action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested site or deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/workflows/{workflowId}/api-trigger": {
      "post": {
        "tags": [
          "Admin API"
        ],
        "summary": "Trigger workflow run",
        "description": "Queue an enabled workflow run from trusted backend automation. Requires the workflows:run Admin API key scope. Only workflows configured with the Custom schedule trigger are API-triggerable.",
        "operationId": "triggerWorkflowRun",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Built-in workflow ID, custom_workflow for the saved custom workflow configuration, or custom_workflow:{id} for a specific user-created custom workflow.",
            "examples": {
              "builtIn": {
                "summary": "Built-in workflow",
                "value": "fix_broken_links"
              },
              "custom": {
                "summary": "Custom workflow record",
                "value": "custom_workflow:workflow-id"
              }
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowTriggerRequest"
              },
              "examples": {
                "siteScopedKey": {
                  "summary": "Site-scoped key",
                  "value": {}
                },
                "unscopedKey": {
                  "summary": "Unscoped organization key",
                  "value": {
                    "site_id": "site-id-for-unscoped-keys"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Workflow run queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowTriggerResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is missing a required site_id for an unscoped key or contains invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key does not have the workflows:run scope or is not scoped to the requested deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Workflow, custom workflow, or site was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "409": {
            "description": "Workflow is not ready to run, is not API-triggerable, already has an active run, or the runner is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "429": {
            "description": "Daily workflow run limit reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "500": {
            "description": "Workflow run could not be queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/analytics/usage": {
      "get": {
        "tags": [
          "Admin API"
        ],
        "summary": "Export usage analytics",
        "description": "Read retrieval activity and AI usage accounting for a site-scoped or organization-scoped Admin API key. Requires the analytics:read scope.",
        "operationId": "exportUsageAnalytics",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 366,
              "default": 30
            },
            "description": "Rolling window length in days. Ignored when from and to are supplied."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "Start calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "End calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "timezoneOffsetMinutes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": -840,
              "maximum": 840,
              "default": 0
            },
            "description": "Timezone offset used when calculating local reporting days."
          },
          {
            "name": "site_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment site ID. Required only when the Admin API key is organization-scoped and the export should be limited to one deployment."
          },
          {
            "name": "site_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment slug alternative to site_id for organization-scoped keys."
          },
          {
            "name": "subdomain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Published dubstack.live subdomain alternative to site_id for organization-scoped keys."
          }
        ],
        "responses": {
          "200": {
            "description": "Usage analytics export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsageAnalyticsExport"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to read this analytics scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "500": {
            "description": "Usage analytics could not be exported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/analytics/feedback": {
      "get": {
        "tags": [
          "Admin API"
        ],
        "summary": "Export feedback analytics",
        "description": "Read public assistant and MCP feedback analytics for a site-scoped or organization-scoped Admin API key. Requires the analytics:read scope.",
        "operationId": "exportFeedbackAnalytics",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 366,
              "default": 30
            },
            "description": "Rolling window length in days. Ignored when from and to are supplied."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "Start calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "End calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "timezoneOffsetMinutes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": -840,
              "maximum": 840,
              "default": 0
            },
            "description": "Timezone offset used when calculating local reporting days."
          },
          {
            "name": "site_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment site ID. Required only when the Admin API key is organization-scoped and the export should be limited to one deployment."
          },
          {
            "name": "site_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment slug alternative to site_id for organization-scoped keys."
          },
          {
            "name": "subdomain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Published dubstack.live subdomain alternative to site_id for organization-scoped keys."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated review statuses: pending, in_progress, resolved, dismissed."
            },
            "description": "Optional comma-separated feedback review status filter."
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback analytics export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminFeedbackAnalyticsExport"
                }
              }
            }
          },
          "400": {
            "description": "The feedback status filter is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to read this analytics scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "500": {
            "description": "Feedback analytics could not be exported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AdminApiBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Server-side Admin API key created from Settings > Security > API keys."
      }
    },
    "schemas": {
      "AdminAnalyticsScope": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteSlug": {
            "type": [
              "string",
              "null"
            ]
          },
          "subdomain": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": false
      },
      "AdminApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "AdminFeedbackAnalyticsExport": {
        "type": "object",
        "required": [
          "available",
          "checkedAt",
          "from",
          "to",
          "periodDays",
          "scope",
          "totals",
          "dailySeries",
          "recentEvents"
        ],
        "properties": {
          "available": {
            "type": "boolean"
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "periodDays": {
            "type": "integer"
          },
          "scope": {
            "$ref": "#/components/schemas/AdminAnalyticsScope"
          },
          "totals": {
            "type": "object",
            "additionalProperties": true
          },
          "byRating": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "bySource": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "byPagePath": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "byReviewStatus": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "dailySeries": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "recentEvents": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "AdminUsageAnalyticsExport": {
        "type": "object",
        "required": [
          "available",
          "checkedAt",
          "from",
          "to",
          "periodDays",
          "scope",
          "retrieval",
          "aiUsage"
        ],
        "properties": {
          "available": {
            "type": "boolean"
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "periodDays": {
            "type": "integer"
          },
          "scope": {
            "$ref": "#/components/schemas/AdminAnalyticsScope"
          },
          "retrieval": {
            "type": "object",
            "additionalProperties": true
          },
          "aiUsage": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "DeploymentStatus": {
        "type": "object",
        "required": [
          "_id",
          "statusId",
          "siteId",
          "projectId",
          "status"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Deployment status ID."
          },
          "statusId": {
            "type": "string",
            "description": "Deployment status ID."
          },
          "siteId": {
            "type": "string",
            "description": "Deployment site ID."
          },
          "projectId": {
            "type": "string",
            "description": "Alias for siteId for API compatibility."
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "endedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress",
              "success",
              "failure"
            ]
          },
          "summary": {
            "type": [
              "string",
              "null"
            ]
          },
          "logs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subdomain": {
            "type": [
              "string",
              "null"
            ]
          },
          "screenshot": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "screenshotLight": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "screenshotDark": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "author": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "avatarUrl": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri"
                  }
                },
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "commit": {
            "type": "object",
            "properties": {
              "sha": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "ref": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "filesChanged": {
                "type": "object",
                "properties": {
                  "added": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "modified": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "removed": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          },
          "source": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": false
      },
      "DeploymentTriggerResponse": {
        "type": "object",
        "required": [
          "statusId"
        ],
        "properties": {
          "statusId": {
            "type": "string",
            "description": "Deployment status ID for polling."
          }
        }
      },
      "PreviewDeploymentTriggerRequest": {
        "type": "object",
        "required": [
          "branch"
        ],
        "properties": {
          "branch": {
            "type": "string",
            "description": "Git branch to preview."
          }
        }
      },
      "PreviewDeploymentTriggerResponse": {
        "type": "object",
        "required": [
          "statusId",
          "previewUrl"
        ],
        "properties": {
          "statusId": {
            "type": "string",
            "description": "Deployment status ID for polling."
          },
          "previewUrl": {
            "type": "string",
            "format": "uri",
            "description": "Preview deployment URL."
          }
        }
      },
      "WorkflowRun": {
        "type": "object",
        "required": [
          "id",
          "workflow_id",
          "status",
          "trigger_source",
          "trigger_type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Workflow run ID."
          },
          "workflow_id": {
            "type": "string",
            "description": "Built-in workflow ID or custom_workflow."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed",
              "cancelled"
            ],
            "description": "Current run status."
          },
          "trigger_source": {
            "type": "string",
            "description": "Source that queued the run. Admin API triggered runs use api."
          },
          "trigger_type": {
            "type": "string",
            "description": "Workflow trigger type used for this run."
          },
          "update_mode": {
            "type": "string",
            "description": "How the workflow is allowed to apply output."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "queued_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "WorkflowTriggerRequest": {
        "type": "object",
        "properties": {
          "site_id": {
            "type": "string",
            "description": "Deployment site ID. Required only when the Admin API key is organization-scoped instead of site-scoped."
          }
        },
        "additionalProperties": false
      },
      "WorkflowTriggerResponse": {
        "type": "object",
        "required": [
          "run"
        ],
        "properties": {
          "run": {
            "$ref": "#/components/schemas/WorkflowRun"
          }
        }
      }
    }
  }
}
