{
  "openapi": "3.1.0",
  "info": {
    "title": "dubstack Admin API",
    "version": "2026-09-05",
    "description": "Server-side API for triggering documentation deployments and workflows, creating branch previews, retrieving published documentation, and exporting organization analytics, including aggregate assistant caller activity. Every operation requires a scoped Admin API key."
  },
  "servers": [
    {
      "url": "https://api.dubstack.ai",
      "description": "dubstack Admin API"
    }
  ],
  "tags": [
    {
      "name": "Admin",
      "description": "Deployment update, preview, and status operations."
    },
    {
      "name": "Automations",
      "description": "Customer-owned workflow execution operations."
    },
    {
      "name": "Analytics",
      "description": "Tenant-scoped usage, feedback, traffic, visitor, search, and assistant caller reporting."
    },
    {
      "name": "Content",
      "description": "Deployment-scoped published documentation search and page retrieval."
    }
  ],
  "paths": {
    "/api/project/update/{siteId}": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Trigger deployment update",
        "description": "Queue a live deployment update from the configured deployment branch. Requires the deployments:trigger Admin API key scope.",
        "operationId": "triggerDeploymentUpdate",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The deployment site ID. Site-scoped keys can only use their assigned site."
          }
        ],
        "responses": {
          "202": {
            "description": "Deployment update queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentTriggerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to perform this action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested site or deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "409": {
            "description": "The site is not ready for deployment updates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/project/preview/{siteId}": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Trigger preview deployment",
        "description": "Create or refresh a preview deployment for a Git branch. Requires the deployments:trigger Admin API key scope.",
        "operationId": "triggerPreviewDeployment",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The deployment site ID. Site-scoped keys can only use their assigned site."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewDeploymentTriggerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Preview deployment queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewDeploymentTriggerResponse"
                }
              }
            }
          },
          "400": {
            "description": "The branch value is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to perform this action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested site or deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "409": {
            "description": "The site or branch is not ready for preview deployments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/project/update-status/{statusId}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get deployment status",
        "description": "Read deployment status and logs by status ID. Requires either deployments:read or deployments:trigger.",
        "operationId": "getDeploymentStatus",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The deployment status ID returned by a deployment trigger endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentStatus"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to perform this action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested site or deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/workflows/{workflowId}/api-trigger": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "Trigger workflow run",
        "description": "Queue an enabled workflow run from trusted backend automation. Requires the workflows:run Admin API key scope. Only workflows configured with the Custom schedule trigger are API-triggerable.",
        "operationId": "triggerWorkflowRun",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Built-in workflow ID, custom_workflow for the saved custom workflow configuration, or custom_workflow:{id} for a specific user-created custom workflow.",
            "examples": {
              "builtIn": {
                "summary": "Built-in workflow",
                "value": "fix_broken_links"
              },
              "custom": {
                "summary": "Custom workflow record",
                "value": "custom_workflow:workflow-id"
              }
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowTriggerRequest"
              },
              "examples": {
                "siteScopedKey": {
                  "summary": "Site-scoped key",
                  "value": {}
                },
                "unscopedKey": {
                  "summary": "Unscoped organization key",
                  "value": {
                    "site_id": "site-id-for-unscoped-keys"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Workflow run queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowTriggerResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is missing a required site_id for an unscoped key or contains invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key does not have the workflows:run scope or is not scoped to the requested deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Workflow, custom workflow, or site was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "409": {
            "description": "Workflow is not ready to run, is not API-triggerable, already has an active run, or the runner is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "429": {
            "description": "Daily workflow run limit reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "500": {
            "description": "Workflow run could not be queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/analytics/usage": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Export usage analytics",
        "description": "Read retrieval activity and AI usage accounting for a site-scoped or organization-scoped Admin API key. Requires the analytics:read scope.",
        "operationId": "exportUsageAnalytics",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 366,
              "default": 30
            },
            "description": "Rolling window length in days. Ignored when from and to are supplied."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "Start calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "End calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "timezoneOffsetMinutes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": -840,
              "maximum": 840,
              "default": 0
            },
            "description": "Timezone offset used when calculating local reporting days."
          },
          {
            "name": "site_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment site ID. Required only when the Admin API key is organization-scoped and the export should be limited to one deployment."
          },
          {
            "name": "site_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment slug alternative to site_id for organization-scoped keys."
          },
          {
            "name": "subdomain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Published dubstack.live subdomain alternative to site_id for organization-scoped keys."
          }
        ],
        "responses": {
          "200": {
            "description": "Usage analytics export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsageAnalyticsExport"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to read this analytics scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "500": {
            "description": "Usage analytics could not be exported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/analytics/feedback": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Export feedback analytics",
        "description": "Read public assistant and MCP feedback analytics for a site-scoped or organization-scoped Admin API key. Requires the analytics:read scope.",
        "operationId": "exportFeedbackAnalytics",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 366,
              "default": 30
            },
            "description": "Rolling window length in days. Ignored when from and to are supplied."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "Start calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "End calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "timezoneOffsetMinutes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": -840,
              "maximum": 840,
              "default": 0
            },
            "description": "Timezone offset used when calculating local reporting days."
          },
          {
            "name": "site_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment site ID. Required only when the Admin API key is organization-scoped and the export should be limited to one deployment."
          },
          {
            "name": "site_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment slug alternative to site_id for organization-scoped keys."
          },
          {
            "name": "subdomain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Published dubstack.live subdomain alternative to site_id for organization-scoped keys."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated review statuses: pending, in_progress, resolved, dismissed."
            },
            "description": "Optional comma-separated feedback review status filter."
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback analytics export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminFeedbackAnalyticsExport"
                }
              }
            }
          },
          "400": {
            "description": "The feedback status filter is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to read this analytics scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "500": {
            "description": "Feedback analytics could not be exported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/analytics/page-views": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get page views",
        "description": "Read aggregate documentation page-view activity for one deployment. Requires the analytics:read scope. Organization-scoped keys must select a site.",
        "operationId": "getPageViewAnalytics",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 366,
              "default": 30
            },
            "description": "Rolling window length in days. Ignored when from and to are supplied."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "Start calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "End calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "timezoneOffsetMinutes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": -840,
              "maximum": 840,
              "default": 0
            },
            "description": "Timezone offset used when calculating local reporting days."
          },
          {
            "name": "site_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment site ID. Required only when the Admin API key is organization-scoped and the export should be limited to one deployment."
          },
          {
            "name": "site_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment slug alternative to site_id for organization-scoped keys."
          },
          {
            "name": "subdomain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Published dubstack.live subdomain alternative to site_id for organization-scoped keys."
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregate page-view analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminPageViewAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "A site selector is required for an organization-scoped key, or a query parameter is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to read this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "502": {
            "description": "Traffic analytics storage could not complete the query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "503": {
            "description": "Traffic analytics storage or deployment scope is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/analytics/visitors": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get unique visitors",
        "description": "Read aggregate documentation visitor activity for one deployment. Requires the analytics:read scope. Reader and session identifiers are not returned.",
        "operationId": "getVisitorAnalytics",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 366,
              "default": 30
            },
            "description": "Rolling window length in days. Ignored when from and to are supplied."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "Start calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "End calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "timezoneOffsetMinutes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": -840,
              "maximum": 840,
              "default": 0
            },
            "description": "Timezone offset used when calculating local reporting days."
          },
          {
            "name": "site_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment site ID. Required only when the Admin API key is organization-scoped and the export should be limited to one deployment."
          },
          {
            "name": "site_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment slug alternative to site_id for organization-scoped keys."
          },
          {
            "name": "subdomain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Published dubstack.live subdomain alternative to site_id for organization-scoped keys."
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregate visitor analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminVisitorAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "A site selector is required for an organization-scoped key, or a query parameter is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to read this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "502": {
            "description": "Traffic analytics storage could not complete the query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "503": {
            "description": "Traffic analytics storage or deployment scope is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/analytics/search-queries": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get search queries",
        "description": "Read aggregate and recent documentation search queries for one deployment. Requires the analytics:read scope. Reader and session identifiers are not returned.",
        "operationId": "getSearchQueryAnalytics",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 366,
              "default": 30
            },
            "description": "Rolling window length in days. Ignored when from and to are supplied."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "Start calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "End calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "timezoneOffsetMinutes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": -840,
              "maximum": 840,
              "default": 0
            },
            "description": "Timezone offset used when calculating local reporting days."
          },
          {
            "name": "site_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment site ID. Required only when the Admin API key is organization-scoped and the export should be limited to one deployment."
          },
          {
            "name": "site_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment slug alternative to site_id for organization-scoped keys."
          },
          {
            "name": "subdomain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Published dubstack.live subdomain alternative to site_id for organization-scoped keys."
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregate search-query analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminSearchQueryAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "A site selector is required for an organization-scoped key, or a query parameter is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to read this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "502": {
            "description": "Traffic analytics storage could not complete the query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "503": {
            "description": "Traffic analytics storage or deployment scope is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/analytics/assistant-callers": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get assistant caller stats",
        "description": "Read aggregate assistant request activity by interaction channel and status. Requires the analytics:read scope. The response never includes conversation content, queries, sessions, users, email addresses, or raw metadata.",
        "operationId": "getAssistantCallerStats",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 366,
              "default": 30
            },
            "description": "Rolling window length in days. Ignored when from and to are supplied."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "Start calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "End calendar date for the export window in YYYY-MM-DD format."
          },
          {
            "name": "timezoneOffsetMinutes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": -840,
              "maximum": 840,
              "default": 0
            },
            "description": "Timezone offset used when calculating local reporting days."
          },
          {
            "name": "site_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment site ID. Required only when the Admin API key is organization-scoped and the export should be limited to one deployment."
          },
          {
            "name": "site_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment slug alternative to site_id for organization-scoped keys."
          },
          {
            "name": "subdomain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Published dubstack.live subdomain alternative to site_id for organization-scoped keys."
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregate assistant caller activity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAssistantCallerAnalyticsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key is not allowed to read this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "500": {
            "description": "Assistant caller analytics could not be read.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/search": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Search published documentation",
        "description": "Search one deployment's published searchable index and return bounded ranked snippets. Requires the content:read Admin API key scope.",
        "operationId": "searchPublishedDocumentation",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment site ID. Supply exactly one site selector when using an organization-scoped key. Omit for site-scoped keys."
          },
          {
            "name": "site_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment slug. Supply exactly one site selector when using an organization-scoped key. Omit for site-scoped keys."
          },
          {
            "name": "subdomain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment subdomain. Supply exactly one site selector when using an organization-scoped key. Omit for site-scoped keys."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishedDocsSearchRequest"
              },
              "example": {
                "query": "configure a custom domain",
                "pageSize": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked published documentation results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedDocsSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "The query, page size, or organization-level site selector is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key does not include content:read or cannot access the selected deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Selected deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "409": {
            "description": "The deployment has no published documentation source configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "502": {
            "description": "The published documentation request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "503": {
            "description": "Published documentation is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/page": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Get published page content",
        "description": "Return the full Markdown or MDX body for a page in one deployment's published searchable index. Requires the content:read Admin API key scope.",
        "operationId": "getPublishedDocumentationPage",
        "servers": [
          {
            "url": "https://api.dubstack.ai",
            "description": "dubstack Admin API"
          }
        ],
        "security": [
          {
            "AdminApiBearer": []
          }
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment site ID. Supply exactly one site selector when using an organization-scoped key. Omit for site-scoped keys."
          },
          {
            "name": "site_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment slug. Supply exactly one site selector when using an organization-scoped key. Omit for site-scoped keys."
          },
          {
            "name": "subdomain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployment subdomain. Supply exactly one site selector when using an organization-scoped key. Omit for site-scoped keys."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishedDocsPageRequest"
              },
              "example": {
                "path": "/deployment/custom-domains"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Published page content and public metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedDocsPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "The page path or organization-level site selector is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "401": {
            "description": "Admin API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "403": {
            "description": "Admin API key does not include content:read or cannot access the selected deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "404": {
            "description": "Selected deployment or indexed page was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "409": {
            "description": "The deployment has no published documentation source configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "502": {
            "description": "The published documentation request failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          },
          "503": {
            "description": "Published documentation is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AdminApiBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Server-side Admin API key created from Settings > Security > API keys."
      }
    },
    "schemas": {
      "AdminAnalyticsScope": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteSlug": {
            "type": [
              "string",
              "null"
            ]
          },
          "subdomain": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": false
      },
      "AdminApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "AdminFeedbackAnalyticsExport": {
        "type": "object",
        "required": [
          "available",
          "checkedAt",
          "from",
          "to",
          "periodDays",
          "scope",
          "totals",
          "dailySeries",
          "recentEvents"
        ],
        "properties": {
          "available": {
            "type": "boolean"
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "periodDays": {
            "type": "integer"
          },
          "scope": {
            "$ref": "#/components/schemas/AdminAnalyticsScope"
          },
          "totals": {
            "type": "object",
            "additionalProperties": true
          },
          "byRating": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "bySource": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "byPagePath": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "byReviewStatus": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "dailySeries": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "recentEvents": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "AdminUsageAnalyticsExport": {
        "type": "object",
        "required": [
          "available",
          "checkedAt",
          "from",
          "to",
          "periodDays",
          "scope",
          "retrieval",
          "aiUsage"
        ],
        "properties": {
          "available": {
            "type": "boolean"
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "periodDays": {
            "type": "integer"
          },
          "scope": {
            "$ref": "#/components/schemas/AdminAnalyticsScope"
          },
          "retrieval": {
            "type": "object",
            "additionalProperties": true
          },
          "aiUsage": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "DeploymentStatus": {
        "type": "object",
        "required": [
          "_id",
          "statusId",
          "siteId",
          "projectId",
          "status"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Deployment status ID."
          },
          "statusId": {
            "type": "string",
            "description": "Deployment status ID."
          },
          "siteId": {
            "type": "string",
            "description": "Deployment site ID."
          },
          "projectId": {
            "type": "string",
            "description": "Alias for siteId for API compatibility."
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "endedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress",
              "success",
              "failure"
            ]
          },
          "summary": {
            "type": [
              "string",
              "null"
            ]
          },
          "logs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subdomain": {
            "type": [
              "string",
              "null"
            ]
          },
          "screenshot": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "screenshotLight": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "screenshotDark": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "author": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "avatarUrl": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri"
                  }
                },
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "commit": {
            "type": "object",
            "properties": {
              "sha": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "ref": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "filesChanged": {
                "type": "object",
                "properties": {
                  "added": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "modified": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "removed": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          },
          "source": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": false
      },
      "DeploymentTriggerResponse": {
        "type": "object",
        "required": [
          "statusId"
        ],
        "properties": {
          "statusId": {
            "type": "string",
            "description": "Deployment status ID for polling."
          }
        }
      },
      "PreviewDeploymentTriggerRequest": {
        "type": "object",
        "required": [
          "branch"
        ],
        "properties": {
          "branch": {
            "type": "string",
            "description": "Git branch to preview."
          }
        }
      },
      "PreviewDeploymentTriggerResponse": {
        "type": "object",
        "required": [
          "statusId",
          "previewUrl"
        ],
        "properties": {
          "statusId": {
            "type": "string",
            "description": "Deployment status ID for polling."
          },
          "previewUrl": {
            "type": "string",
            "format": "uri",
            "description": "Preview deployment URL."
          }
        }
      },
      "WorkflowRun": {
        "type": "object",
        "required": [
          "id",
          "workflow_id",
          "status",
          "trigger_source",
          "trigger_type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Workflow run ID."
          },
          "workflow_id": {
            "type": "string",
            "description": "Built-in workflow ID or custom_workflow."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed",
              "cancelled"
            ],
            "description": "Current run status."
          },
          "trigger_source": {
            "type": "string",
            "description": "Source that queued the run. Admin API triggered runs use api."
          },
          "trigger_type": {
            "type": "string",
            "description": "Workflow trigger type used for this run."
          },
          "update_mode": {
            "type": "string",
            "description": "How the workflow is allowed to apply output."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "queued_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "WorkflowTriggerRequest": {
        "type": "object",
        "properties": {
          "site_id": {
            "type": "string",
            "description": "Deployment site ID. Required only when the Admin API key is organization-scoped instead of site-scoped."
          }
        },
        "additionalProperties": false
      },
      "WorkflowTriggerResponse": {
        "type": "object",
        "required": [
          "run"
        ],
        "properties": {
          "run": {
            "$ref": "#/components/schemas/WorkflowRun"
          }
        }
      },
      "AdminPageViewAnalyticsResponse": {
        "type": "object",
        "required": [
          "available",
          "checkedAt",
          "from",
          "to",
          "periodDays",
          "scope",
          "pageViews"
        ],
        "properties": {
          "available": {
            "type": "boolean"
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "to": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "periodDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 366
          },
          "scope": {
            "$ref": "#/components/schemas/AdminAnalyticsScope"
          },
          "pageViews": {
            "type": "object",
            "required": [
              "totalViews",
              "averageDurationMs",
              "topPages",
              "topReferrers",
              "dailySeries"
            ],
            "properties": {
              "totalViews": {
                "type": "integer",
                "minimum": 0
              },
              "averageDurationMs": {
                "type": "number",
                "minimum": 0
              },
              "topPages": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "path",
                    "views"
                  ],
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "views": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "additionalProperties": false
                }
              },
              "topReferrers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "source",
                    "views"
                  ],
                  "properties": {
                    "source": {
                      "type": "string"
                    },
                    "views": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "additionalProperties": false
                }
              },
              "dailySeries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "date",
                    "views"
                  ],
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "views": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "AdminVisitorAnalyticsResponse": {
        "type": "object",
        "required": [
          "available",
          "checkedAt",
          "from",
          "to",
          "periodDays",
          "scope",
          "visitors"
        ],
        "properties": {
          "available": {
            "type": "boolean"
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "to": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "periodDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 366
          },
          "scope": {
            "$ref": "#/components/schemas/AdminAnalyticsScope"
          },
          "visitors": {
            "type": "object",
            "required": [
              "uniqueVisitors",
              "topDevices",
              "topCountries",
              "dailySeries"
            ],
            "properties": {
              "uniqueVisitors": {
                "type": "integer",
                "minimum": 0
              },
              "topDevices": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "device",
                    "visitors"
                  ],
                  "properties": {
                    "device": {
                      "type": "string"
                    },
                    "visitors": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "additionalProperties": false
                }
              },
              "topCountries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "country",
                    "visitors"
                  ],
                  "properties": {
                    "country": {
                      "type": "string"
                    },
                    "visitors": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "additionalProperties": false
                }
              },
              "dailySeries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "date",
                    "visitors"
                  ],
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "visitors": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "AdminSearchQueryAnalyticsResponse": {
        "type": "object",
        "required": [
          "available",
          "checkedAt",
          "from",
          "to",
          "periodDays",
          "scope",
          "searchQueries"
        ],
        "properties": {
          "available": {
            "type": "boolean"
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "to": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "periodDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 366
          },
          "scope": {
            "$ref": "#/components/schemas/AdminAnalyticsScope"
          },
          "searchQueries": {
            "type": "object",
            "required": [
              "totalSearches",
              "zeroResultSearches",
              "averageResults",
              "clickThroughRate",
              "topQueries",
              "dailySeries",
              "recentQueries"
            ],
            "properties": {
              "totalSearches": {
                "type": "integer",
                "minimum": 0
              },
              "zeroResultSearches": {
                "type": "integer",
                "minimum": 0
              },
              "averageResults": {
                "type": "number",
                "minimum": 0
              },
              "clickThroughRate": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "topQueries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "query",
                    "count",
                    "averageResults"
                  ],
                  "properties": {
                    "query": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "averageResults": {
                      "type": "number",
                      "minimum": 0
                    }
                  },
                  "additionalProperties": false
                }
              },
              "dailySeries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "date",
                    "searches"
                  ],
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "searches": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "additionalProperties": false
                }
              },
              "recentQueries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "timestamp",
                    "query",
                    "resultsCount",
                    "clickedResult"
                  ],
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "query": {
                      "type": "string"
                    },
                    "resultsCount": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "clickedResult": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "PublishedDocsSearchRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Natural-language or keyword query for the selected deployment."
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "default": 10,
            "description": "Maximum number of ranked results to return."
          }
        },
        "additionalProperties": false
      },
      "PublishedDocsSearchResponse": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublishedDocsSearchItem"
            }
          }
        },
        "additionalProperties": false
      },
      "PublishedDocsSearchItem": {
        "type": "object",
        "required": [
          "content",
          "path",
          "metadata"
        ],
        "properties": {
          "content": {
            "type": "string",
            "description": "Bounded relevant excerpt from the published page."
          },
          "path": {
            "type": "string",
            "description": "Public path of the matching documentation page."
          },
          "metadata": {
            "type": "object",
            "required": [
              "title",
              "url",
              "score"
            ],
            "properties": {
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "score": {
                "type": "number",
                "description": "Relative relevance score. Compare scores within this response; the value is not normalized to a fixed range."
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "PublishedDocsPageRequest": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000,
            "description": "Published page path. URLs, query strings, fragments, traversal segments, and dotfile paths are rejected."
          }
        },
        "additionalProperties": false
      },
      "PublishedDocsPageResponse": {
        "type": "object",
        "required": [
          "path",
          "content",
          "metadata"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Canonical public path of the indexed page."
          },
          "content": {
            "type": "string",
            "description": "Full Markdown or MDX page body without frontmatter."
          },
          "metadata": {
            "type": "object",
            "required": [
              "title",
              "url",
              "description"
            ],
            "properties": {
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "AdminAssistantCallerStatus": {
        "type": "object",
        "required": [
          "status",
          "requests",
          "creditsEstimated",
          "creditsCharged",
          "totalTokens",
          "costMicrousd",
          "lastSeenAt"
        ],
        "properties": {
          "status": {
            "type": "string",
            "description": "Recorded outcome for the assistant requests in this aggregate."
          },
          "requests": {
            "type": "integer",
            "minimum": 0
          },
          "creditsEstimated": {
            "type": "integer",
            "minimum": 0
          },
          "creditsCharged": {
            "type": "integer",
            "minimum": 0
          },
          "totalTokens": {
            "type": "integer",
            "minimum": 0
          },
          "costMicrousd": {
            "type": "integer",
            "minimum": 0
          },
          "lastSeenAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "AdminAssistantCaller": {
        "type": "object",
        "required": [
          "callerType",
          "requests",
          "creditsEstimated",
          "creditsCharged",
          "totalTokens",
          "costMicrousd",
          "lastSeenAt",
          "byStatus"
        ],
        "properties": {
          "callerType": {
            "type": "string",
            "description": "Interaction channel such as public_assistant or dashboard_assistant. This is not a person or user identifier."
          },
          "requests": {
            "type": "integer",
            "minimum": 0
          },
          "creditsEstimated": {
            "type": "integer",
            "minimum": 0
          },
          "creditsCharged": {
            "type": "integer",
            "minimum": 0
          },
          "totalTokens": {
            "type": "integer",
            "minimum": 0
          },
          "costMicrousd": {
            "type": "integer",
            "minimum": 0
          },
          "lastSeenAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "byStatus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminAssistantCallerStatus"
            }
          }
        },
        "additionalProperties": false
      },
      "AdminAssistantCallerTotals": {
        "type": "object",
        "required": [
          "requests",
          "creditsEstimated",
          "creditsCharged",
          "inputTokens",
          "outputTokens",
          "totalTokens",
          "costMicrousd",
          "lastSeenAt"
        ],
        "properties": {
          "requests": {
            "type": "integer",
            "minimum": 0
          },
          "creditsEstimated": {
            "type": "integer",
            "minimum": 0
          },
          "creditsCharged": {
            "type": "integer",
            "minimum": 0
          },
          "inputTokens": {
            "type": "integer",
            "minimum": 0
          },
          "outputTokens": {
            "type": "integer",
            "minimum": 0
          },
          "totalTokens": {
            "type": "integer",
            "minimum": 0
          },
          "costMicrousd": {
            "type": "integer",
            "minimum": 0
          },
          "lastSeenAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "AdminAssistantCallerAnalyticsResponse": {
        "type": "object",
        "required": [
          "available",
          "checkedAt",
          "from",
          "to",
          "periodDays",
          "scope",
          "totals",
          "byStatus",
          "callers"
        ],
        "properties": {
          "available": {
            "type": "boolean"
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "to": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "periodDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 366
          },
          "scope": {
            "$ref": "#/components/schemas/AdminAnalyticsScope"
          },
          "totals": {
            "$ref": "#/components/schemas/AdminAssistantCallerTotals"
          },
          "byStatus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminAssistantCallerStatus"
            }
          },
          "callers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminAssistantCaller"
            }
          }
        },
        "additionalProperties": false
      }
    }
  }
}
